streamlit
elevenlabs
json
os
imageio[ffmpeg]
pydub
moviepy
ffmpeg
numpy
groq
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai
langchain_groq
langchain_community
requests
random
