streamlit
elevenlabs
json
os
elevenlabs
imageio[ffmpeg]
pydub
moviepy
ffmpeg
numpy
groq
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai
streamlit
os
json
random
requests
langchain
langchain_groq
langchain_community
langchain_google_genai
elevenlabs
moviepy
faiss-cpu
